@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    33% {
        transform: translate(30px, -50px) scale(1.1);
    }
    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}

.Overlay {
    background-color: rgba(0, 0, 0, 0.5);
    /* Arrière-plan semi-transparent */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ajuste le modal pour le centrer */
    background: white;
    border-radius: 8px;
    /* Coins arrondis */
    padding: 20px;
    /* Espacement intérieur */
    width: 80%;
    /* Largeur du modal */
    max-width: 500px;
    /* Largeur maximale */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Ombre douce */
}